{% extends "base.html" %}

{% block content %}
<div class="container mx-auto px-4">
    <div class="bg-gray-800 p-8 rounded-md shadow-md">
        <h1 class="text-3xl font-bold text-green-500 mb-4">Sobre o MusicMate</h1>
        <p class="text-gray-300 leading-6 mb-4">
            Bem-vindo ao <span class="text-green-500 font-semibold">MusicMate</span>! Nosso aplicativo ajuda você a encontrar recomendações musicais
            personalizadas com base no gosto de diferentes usuários. Além disso, você pode descobrir músicas, artistas e álbuns compartilhados entre
            amigos para criar momentos inesquecíveis!
        </p>
        <p class="text-gray-300 leading-6">
            Recursos principais:
        </p>
        <ul class="list-disc list-inside text-gray-300 mt-2">
            <li>Cadastro de usuários com estilos musicais favoritos.</li>
            <li>Recomendações com base no gosto compartilhado entre amigos.</li>
            <li>Design intuitivo e fácil de usar.</li>
        </ul>
    </div>
</div>
{% endblock %}
